<!DOCTYPE html>
<html>
   <head>
     <meta charset="UTF-8">
     <title>Overpowered Slimes</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="style.css" rel="stylesheet" type="text/css">
   </head>
   <body>
     <div id="header"> <!-- Contains the page headline -->
      <h1>Welcome to the Overpowered Slimes site!</h1>
    </div>
<!-- end header -->
      <%- include ('navbar.ejs')%>
    <div id="content"><!-- Place a few sentences of something goofy here.-->
      <h2>Best Slime</h2>
      <img src="https://static.wikia.nocookie.net/tensei-shitara-slime-datta-ken/images/3/34/Rimuru_Slime_Anime.png/revision/latest?cb=20180922214304" alt="Rimuru">
    </div> <!-- end content -->
    </body>
</html>
