<html>
    <h1>
        <title>Slime page 2</title>
        <%- include('header.ejs') %>
    </h1>
    <body>
        <%- include ('navbar.ejs')%>
        <div id="content"><!-- Place a few sentences of something goofy here.-->
            <h2>More Slime</h2>
            <h3>KomodoHype</h3>

            <img src="https://kapodaco.files.wordpress.com/2019/12/slime-anime-1.png?w=650&h=364" alt="Rimuru">
        </div> <!-- end content -->
    </body>
</html>