<html>
    <h1>
        <title>Slime page 2</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="style.css" rel="stylesheet" type="text/css">
    </h1>
    <body>
        <%- include ('navbar.ejs')%>
        <div id="content"><!-- Place a few sentences of something goofy here.-->
            <h2>More Slime</h2>
            <h3><%=count%> people are interested in slimes</h3>

            <img src="https://kapodaco.files.wordpress.com/2019/12/slime-anime-1.png?w=650&h=364" alt="Rimuru">
        </div> <!-- end content -->
    </body>
</html>